<!DOCTYPE html>
<html>
	<head>
		<title>Omni</title>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/homestyles.css">
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		
		<!-- ADDDED FROM BOOTSNIP -->
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>		 -->
		<!-- ADDED FROM BOOTSNIP -->

	</head>
<body>
	
	<nav class="navbar" id='omninavbar'>
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/home"><i class="fas fa-chart-bar" id='analytics-icon'></i> OMNI ANALYTICS</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="/home">Home</a></li>
	        <li><a href="/employees">Employees</a></li>
	        <li><a href="/lots">Lots</a></li>		  
	      </ul>

	      <ul class="nav navbar-nav navbar-right">
			<li><a href="/employees/new">Create <i class="fas fa-user-tie"></i></a></li>			  
			<li><a href="/lots/new">Create <i class="fas fa-wrench"></i></a></li>
	        <li><a href="http://www.omni-monash.com/meetings">Back to Dashboard <i class="fas fa-sign-in-alt"></i></a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>	
