<% include partials/header %>

<div class = "container">
		<h1>
		Add a New Employee
	</h1>
	<hr>
	<form action="/employees" method="POST">
	  <div class="form-group col-md">
	  	<label for="7">First Name:</label>	
		<input id ="7" class="form-control" type="text" name="firstName" placeholder="">
	  </div>
	  <div class="form-group col-md">
	  	<label for="1">Last Name:</label>	
		<input id ="1" class="form-control" type="text" name="lastName" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="2">Employee ID:</label>	
		<input id ="2" class="form-control" type="number" name="employeeID" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="3">Position:</label>	
		<input id ="3" class="form-control" type="text" name="position" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="4">Department:</label>	
		<input id ="4" class="form-control" type="text" name="department" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="5">Base Salary (RM):</label>	
		<input id ="5" class="form-control" type="text" name="baseSalary" placeholder="">
	  </div>	  
	  <div class="form-group">
	  	<label for="6">Employee Profile Pic:</label>	
		<input id ="6" class="form-control" type="text" name="picture" placeholder="Optional">
	  </div>		

	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>


<% include partials/footer %>
