<!DOCTYPE html>
<html>
	<head>
		<title>Skyline</title>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		
		<link rel="stylesheet" type="text/css" href="/stylesheets/loginstyles.css">
	</head>
<body>
	
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Skyline Analytics</a>
	    </div>


	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>	
	
	<!-- EDITED HEADER -->


	<div class="container">
		<div class="row"></div>
			<div class="col-lg-12">
				<div id="content">
					<img src="https://i.imgur.com/lJCfzlC.png" class="img-rounded"  width="200px" height="200px">	
					<h1>Skyline Analytics</h1>
					<h3>Cyber-Physical Technologies driving connectivity, efficiency and business through Modern Analytics</h3>
					<hr>
					<a href="/login" class="btn btn-default btn-lg"><i class="fas fa-chart-bar"></i> Get Started </a>
				</div>
			</div>
	</div>


<% include partials/footer %>
