<% include partials/header %>
<div class="container">
  <div class="jumbotron">
    <div class="container">
      <a href="/employees/" class="btn btn-default btn-lg"
        ><i class="fas fa-arrow-circle-left"></i> Go Back</a
      >
      <img
        align="right"
        src="https://digistorm-websites.s3-ap-southeast-2.amazonaws.com/cac-au-qld-27-website/content/Imported/Monash_Uni_Logo.jpg?mtime=20180928141803"
        class="img-rounded"
        width="250px"
        height="75px"
      />
    </div>

    <h1>Machine Status</h1>
    <div = class="row">
    <div class="col-lg-4">
      <img
        src="https://i.imgur.com/PjXujqt.jpg"
        class="img-rounded"
        width="90%"
        height="90%"
      />
    </div>
    <div class="col-lg-6" id="profile_details">
      <p><b>Machine:</b> <span>Textile Stitching Machine</span></p>
      <p><b>Machine ID:</b> <span>TS001</span></p>
      <p><b>Status:</b> <span>Online</span></p>
      <p><b>Expected Breakdown:</b> <span> > 10 days</span></p>
    </div>



    <!-- 
      var count = Number(document.getElementById('count').innerHTML); //set this on page load in a hidden field after an ajax call
var total = document.getElementById('total').innerHTML; //set this on initial page load
var pcg = Math.floor(count/total*100);        
document.getElementsByClassName('progress-bar').item(0).setAttribute('aria-valuenow',pcg);
document.getElementsByClassName('progress-bar').item(0).setAttribute('style','width:'+Number(pcg)+'%'); -->
      


    <div class="row">
        <div class="col-lg-6" >
          <canvas id="progressChart" width="50%" height="50%"></canvas>
        </div>
        <div class="col-lg-6" >
          <canvas id="progressChart" width="50%" height="50%"></canvas>
        </div>					
      </div>
      <div class="row">
        
          <div class="progress">
              <div
                class="progress-bar progress-bar-success progress-bar-striped active progress-bar-1"
                role="progressbar"
                aria-valuenow="83"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width:0%"
              >
                0%
              </div>
            </div>


      </div>

      <script>

               var voltArray = [<%= voltArray %>] //the [] is removed by default, so we have to add it back
               var currentProgress =  [<%= progressArray %>].slice(-1)[0] //take the last value of the array
               console.log(voltArray)
               console.log(currentProgress)

               var globalCounter=0;

              // METHODS
              function addData(chart, label, data) {
                chart.data.labels.push(label);
                chart.data.datasets.forEach(dataset => {
                  dataset.data.push(data);
                });
                chart.update();
              }

              function removeData(chart) {
                chart.data.labels.pop();
                chart.data.datasets.forEach(dataset => {
                  dataset.data.pop();
                });
                chart.update();
              }

              function updateProgressBar(className, currentProgress) {
                document.getElementsByClassName(className).item(0).setAttribute('style','width:'+Number(currentProgress)+'%');
                document.getElementsByClassName(className).item(0).innerHTML = 'IN PROGRESS:  '+Number(currentProgress)+'%'
              }

                         machineData = {
                           type: 'bar',
                           data: {
                             labels: [], //y values
                             datasets: [
                               {
                                 label: 'Voltage Consumption',
                                 backgroundColor: 'rgba(255, 255, 0, 0.5)',
                                 data: [] // x values
                               }
                             ]
                           },
                           options: {
                             title: {
                               display: true,
                               text: 'Machine 1 Operational Efficiency',
                               fontSize: 15
                             },
                             scales: {
                               yAxes: [
                                 {
                                   ticks: {
                                     beginAtZero: true, // similar to "min: 0"
                                     max: 100
                                   }
                                 }
                               ]
                             }
                           }
                         };



                        // Draw initial progress bar
                         updateProgressBar('progress-bar-1', currentProgress);
                        // Draw initial graph
                         var ctx = document.getElementById('progressChart').getContext('2d');
                         let progressChart = new Chart(ctx, machineData);
                         voltArray.forEach((data) => {
                           addData(progressChart, globalCounter, data);
                           globalCounter++
                         })

                         // Enable pusher logging - don't include this in production
                         Pusher.logToConsole = true;

                         // Dynamic update
                         var pusher = new Pusher('5ed5a1f25586a0760edb', {
                           cluster: 'ap1',
                           forceTLS: true
                         });
                         // Dynamic Update
                         var channel = pusher.subscribe('machine-1-channel');
                         channel.bind('machine-1-sync', function(data) {
                           updateProgressBar('progress-bar-1', data.progress)
                           addData(progressChart, globalCounter, data.volt);
                           globalCounter++
                         });
      </script>
    </div>
  </div>
</div>
