
<% include partials/header %>


<form id="volt-form" action="/machines" method="POST">
    <input id="1" type="text" placeholder="" name="volt" />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>