<% include partials/header %>

<div class = "container">
		<h1>
		Add a New Lot
	</h1>
	<hr>
	<form action="/lots" method="POST">	

	  <div class="form-group col-md">
		<input class="form-control" type="text" name="lotName" placeholder="Lot Name">
	  </div>
	  <div class="form-group col-md">
		<input class="form-control" type="number" name="lotId" placeholder="Lot ID">
	  </div>		
	  <div class="form-group">
		<input class="form-control" type="number" name="totalQuantity" placeholder="No. Shirts">
	  </div>
	  <div class="form-group">
		<input class="form-control" type="number" name="subSizeButton" placeholder="Buttons/shirt">
	  </div>
	  <div class="form-group">
		<input class="form-control" type="number" step ="any" name="buttonTime" placeholder="Standard Button Time/lot (min)">
	  </div>
	  <div class="form-group">
		<input class="form-control" type="number" step ="any" name="buttonCost" placeholder="Standard Button Cost/pcs. (RM)">
	  </div>
	  <div class="form-group">
		<input class="form-control" type="number" step ="any" name="collarTime" placeholder="Standard Collar Time/lot (min)">
	  </div>
	  <div class="form-group">
		<input class="form-control" type="number" step ="any" name="collarCost" placeholder="Standard Collar Cost/pcs. (RM)">
	  </div>
	  <div class="form-group">
		<input class="form-control" type="number" step ="any" name="bodyTime" placeholder="Standard Body Time/lot (min)">
	  </div>
	  <div class="form-group">
		<input class="form-control" type="number" step ="any" name="bodyCost" placeholder="Standard Body Cost/pcs. (RM)">
	  </div>
	  <div class="form-group">
		<input class="form-control" type="number" step ="any" name="sleeveTime" placeholder="Standard Sleeve Time/lot (min)">
	  </div>
	  <div class="form-group">
		<input class="form-control" type="number" step ="any" name="sleeveCost" placeholder="Standard Sleeve Cost/pcs. (RM)">
	  </div>	
	  <div class="form-group">
		<input class="form-control" type="number" step ="any" name="markupSell" placeholder="Markup % (e.g. 1.5 = 50% profit)">
	  </div>	    	  	  	  	  	  	  	  
	  <div class="form-group">
		<input class="form-control" type="text" step ="any" name="picture" placeholder="Optional: Company Profile Pic Image Address">
	  </div>		  
	 		  	  	
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>


<% include partials/footer %>
