<% include partials/header %>

<div class = "container">
		<h1>
		Add a New Lot
	</h1>
	<hr>
	<form action="/clients" method="POST">	

	  <div class="form-group col-md">
		<label for="1">Lot Name:</label>		  	
		<input id ="1" class="form-control" type="text" name="lotName" placeholder="">
	  </div>
	  <div class="form-group col-md">
	  	<label for="2">Lot Id:</label>	
		<input id ="2" class="form-control" type="number" name="lotId" placeholder="">
	  </div>		
	  <div class="form-group">
	  	<label for="3">No. Shirts:</label>	
		<input id ="3" class="form-control" type="number" name="totalQuantity" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="4">Button Sub-Quan /shirt:</label>	
		<input id ="4" class="form-control" type="number" name="subSizeButton" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="5">Std. Button Time /job (min):</label>	
		<input id ="5" class="form-control" type="number" step ="any" name="buttonTime" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="6">Std. Button Cost /pc (RM):</label>	
		<input id ="6" class="form-control" type="number" step ="any" name="buttonCost" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="7">Std. Collar Time /job (min):</label>	
		<input id ="7" class="form-control" type="number" step ="any" name="collarTime" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="8">Std. Collar Cost /pc (RM):</label>	
		<input id ="8" class="form-control" type="number" step ="any" name="collarCost" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="9">Std. Body Time /job (min):</label>	
		<input id ="9" class="form-control" type="number" step ="any" name="bodyTime" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="10">Std. Body Cost /pc (RM):</label>	
		<input id ="10" class="form-control" type="number" step ="any" name="bodyCost" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="11">Std. Sleeve Time /job (min):</label>	
		<input id ="11" class="form-control" type="number" step ="any" name="sleeveTime" placeholder="">
	  </div>
	  <div class="form-group">
	  	<label for="12">Std. Sleeve Cost /pc (RM):</label>	
		<input id ="12" class="form-control" type="number" step ="any" name="sleeveCost" placeholder="">
	  </div>	
	  <div class="form-group">
	  	<label for="13">Price Markup (%):</label>	
		<input id ="13" class="form-control" type="number" step ="any" name="markupSell" placeholder="(e.g. 1.5 = 50% profit)">
	  </div>	    	  	  	  	  	  	  	  
	  
	 		  	  	
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>


<% include partials/footer %>
