body {
  /* background: url(https://imgur.com/fTeD7cP.png) */

  background: url(https://imgur.com/lcYUsFv.png)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  color: white;
}

#landingcontent {
  text-align: center;
  padding-top: 23%;
  text-shadow: 1px solid rgba(0, 0, 0, 0.2), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

#omninavbar {
	border: 1px;
	margin-bottom: 50px;
  color: rgba(255,255,255,.9);
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}



#landingcontent {
  margin-top: -200px !important;
}

#analytics-icon {
	margin-right: 7px;
}

#profile_details {
  padding-top: 45px;
}

h2 {
  padding-top: 15px;
}
h1 {
  font-weight: 700;
  font-size: 5em;
}

hr {
  width: 800px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

html {
  height: 100%;
}

.jumbotron {
  color: #4a4f59;
}
